{% extends 'base.html' %}

{% block title %}Read{% endblock %}

{% block content %}

<h1 id = "diary-head">Thanks for submitting an entry!  Here is an entry from someone else:</h1>
<!-- User can access the page if they are authenticated and have just written an entry or if they are a superuser -->
{% if user.is_authenticated and write_success == True or user.is_superuser and user.is_authenticated %}

  {% include "diary/snippets/entry_snip.html" %}

{% elif not user.is_authenticated %} <!-- Redirect to homepage if user is not even logged in -->
  <meta http-equiv="REFRESH" content="0;url=/">
{% else %}
  <h5 style = "margin-left : 50px">You may only read a diary entry after submitting one yourself ;)</h5>
  <a href = "/diary/">take me home</a>
{% endif %}
{% endblock %}
