{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='shortcut icon' type='image/x-icon' href="{% static "diary/favicon_io/favicon.ico" %}">

  <link rel = "stylesheet" type = "text/css" href = "{% static "diary/dstyles.css" %}" \> <!-- StyleSheet -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> <!-- cool font -->
  <link rel="stylesheet" href="{% static 'flags/sprite.css' %}"> <!-- flag sprites -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <!-- Bootstrap -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  <title>{% block title %}Diary A Day{% endblock %}</title>
</head>
<body>
  <!-- Header -->
  {% include 'header.html' %}

  <main class = 'd-flex p-2'>
    <div style = 'width : 100%'>
      {% block content %}
      {% endblock %}
    </div>
    <div id = "message-bar" class = "standardBox">
      <div style = "text-decoration : underline ; margin-bottom : 20px">Messages</div>

      <!-- Messages -->
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" style= "float : left ; margin-left : 0px" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% else %}
        No Messages :)
      {% endif %}
    </div>
  </main>
</body>
</html>
